.wrap {
    padding: 20px;
}

.step {
    border-top: 1px solid #eee;
    margin: 10px 0;
    padding: 15px 50px;
}

.header {
    text-align: center;
    font-size: 24px;
    font-family: '微软雅黑', 'Microsoft YaHei';
}

.need {
    border: 1px solid #808080;
    .title {
        border-bottom: 1px solid #808080;
        background: #f0f0f0;
        font-weight: bold;
        padding: 5px 15px;
        font-size: 12px;
    }
    .form {
        padding: 15px 15px 5px;
    }
}

.submit {
    margin: 15px 0 0;
    text-align: center;
}