.table {
  margin:             10px;
  width:              calc(~'100% - 20px');
  display:            inline-table;
  -moz-user-select:   none;
  -khtml-user-select: none;
  user-select:        none;
  thead tr th {
    background: #E7F0FA !important;
    text-align: center;
  }
  td {
    cursor: pointer;
  }
}
.form {
  margin:     10px 10px 0 10px;
  text-align: right;
  .tab label {
    width:      100px;
    text-align: center;
  }
}
.center {
  text-align: center;
}
.fLeft {
  float: left;
}
