.table {
  margin: 10px;
  width: calc(~'100% - 20px');
  display: inline-table;
  th {
    background: #e7f0fa!important;
  }
}
.form{
  margin: 10px 10px 0 10px;
  text-align: right;
  .tab label{
    width: 100px;
    text-align: center;
  }
}
.center{
  text-align: center;
}
