.normal {
    background: url('../../assets/header.png') no-repeat;
    height: 100px;
    line-height: 100px;
}

.info {
    float: right;
    padding: 27px 35px 23px 0;
    text-align: right;
    line-height: 30px;
}

.btnBg {
    background: url('../../assets/header_btnBg.png') no-repeat;
    width: 164px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #acacac;
    a {
        color: #193493;
    }
    a:hover {
        color: #000;
    }
}

.hand {
    cursor: pointer;
}