.normal {
    border: 1px solid #808080;
    border-top: none;
}

.title {
    font-weight: bold;
    padding: 5px 15px;
    background: #f0f0f0;
    line-height: 28px;
    border-bottom: 1px solid #808080;
    font-size: 12px;
    .button {
        float: right;
    }
}

.treated {
     :global(.ant-radio-button-wrapper-checked) {
        background: #108ee9;
        color: #f0f0f0;
        border: 1px solid #015aef;
    }
}